In [1]:
#Import librarys

In [2]:
import pandas as pd
import numpy as np

In [3]:
hrm_master = pd.read_excel("/content/HRM_master_Dataset.xlsx")
work_summary = pd.read_excel("/content/Work_summary.xlsx")

In [4]:
hrm_master.shape

(18, 234)

In [41]:
hrm_master.head()

,employee_no,employee_name,company,region,sub_company,division,department,section,project,level8,...,child1_name,child1_birth,child1_policy,child1_periodtype,child1_entitle,child2_name,child2_birth,child2_policy,child2_periodtype,child2_entitle
0,A100002,Jennifer,MNL,China,Shanghai,Marketing,1091,NaN,NaN,NaN,...,伍四,2020-03-03,SH,0,5,NaN,1900-01-02,NaN,0,0
1,A100003,Mary,MNL,China,Beijing,Engineering,1097,NaN,NaN,NaN,...,NaN,NaT,NaN,0,0,NaN,NaT,NaN,0,0
2,A100009,Jack,MNL,China,Shenzhen,Marketing,1021,NaN,NaN,NaN,...,NaN,NaT,NaN,0,0,NaN,NaT,NaN,0,0
3,A100027,John,MNL,MiddleEast,Dubai,Engineering,1097,NaN,NaN,NaN,...,NaN,NaT,NaN,0,0,NaN,NaT,NaN,0,0
4,A100010,Kenneth,MNL,MiddleEast,Dubai,Sales,1096,NaN,NaN,NaN,...,NaN,NaT,NaN,0,0,NaN,NaT,NaN,0,0

In [35]:
print(hrm_master.columns.tolist())

['employee_no', 'employee_name', 'company', 'region', 'sub_company', 'division', 'department', 'section', 'project', 'level8', 'org_name_en', 'org_name_zh', 'org_name_hk', 'position_en', 'position_zh', 'position_hk', 'position_code', 'position_name', 'category', 'working_location', 'supervisor_no', 'contract_start_date', 'contract_end_date', 'work_tel_ext', 'grade', 'shift', 'benefit_location', 'pay_terms', 'id_number', 'work_email', 'rank', 'last_review_date', 'probation_complete_date', 'current_post_start_date', 'last_working_date', 'service_days_adj', 'next_review_date', 'service_start_date', 'work_start_date', 'work_days_adj', 'rehire_date', 'al_balance', 'contract_terms', 'annual_leave_balance', 'terminate_remarks', 'job_code', 'personal_password', 'employee_remark', 'last_payment_date', 'notice_date', 'is_rehire', 'termination_effect_date', 'join_date', 'surname_title', 'surname', 'other_name', 'official_name', 'ac_location', 'file_location', 'hkid_No', 'nationality', 'gender', 'date_of_birth', 'place_of_birth', 'address', 'address_city', 'address_zip_code', 'address_district', 'correspondence_address', 'correspondence_zip_code', 'correspondence_2', 'correspondence_3', 'race', 'language', 'home_tel_no', 'other_tel_no', 'mobile_no', 'passport_no', 'passport_place_of_issue', 'personal_email', 'political_status', 'education_level', 'passport_validity_period', 'payroll_location', 'base_currency', 'cost_center', 'bank_ac_no', 'bank_ac_holder', 'bank_name', 'employee_category', 'quarters_provided', 'class', 'performance', 'performance_date', 'mpf_scheme_code', 'mpf_start_date', 'leave_policy', 'tax_location', 'tax_currency', 'holiday_policy', 'benefit_policy', 'benefit_start_date', 'med_benefit_policy', 'payroll_type', 'housing_fund_location', 'pension_fund_no', 'housing_fund_no', 'marital_status', 'spouse_name', 'spouse_date_of_birth', 'spouse_passport_no', 'spouse_id_no', 'spouse_profession', 'spouse_contact_tel', 'emergency_contact_no1', 'emergency_contact_name1', 'emergency_contact_no2', 'emergency_contact_name2', 'no_of_children', 'a01', 'a02', 'a03', 'a04', 'a05', 'a06', 'a07', 'a08', 'a09', 'a10', 'a11', 'a12', 'a13', 'a14', 'a15', 'a16', 'a17', 'a18', 'a19', 'a20', 'aa1', 'aa2', 'aa3', 'aa4', 'aa5', 'aa7', 'aa8', 'aa9', 'aa10', 'aa11', 'aa6', 'aa12', 'aa13', 'MBTI', 'aa15', 'aa16', 'enneagram', 'aa18', 'aa19', 'aa20', 'd01', 'd02', 'd03', 'd04', 'd05', 'd06', 'd07', 'd08', 'd09', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'dd1', 'dd2', 'dd3', 'dd4', 'dd5', 'dd6', 'dd7', 'dd8', 'dd9', 'dd10', 'dd11', 'dd12', 'dd13', 'dd14', 'dd15', 'n01', 'n02', 'n03', 'n04', 'n05', 'n06', 'n07', 'n08', 'n09', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'nn1', 'nn2', 'nn3', 'nn4', 'nn5', 'nn6', 'nn7', 'nn8', 'nn9', 'nn10', 'nn11', 'nn12', 'nn13', 'nn14', 'nn15', 'child0_name', 'child0_birth', 'child0_policy', 'child0_periodtype', 'child0_entitle', 'child1_name', 'child1_birth', 'child1_policy', 'child1_periodtype', 'child1_entitle', 'child2_name', 'child2_birth', 'child2_policy', 'child2_periodtype', 'child2_entitle']

In [44]:
print("HRM Master Dataset Info:")
print(hrm_master.info())

HRM Master Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Columns: 234 entries, employee_no to child2_entitle
dtypes: datetime64[ns](34), float64(53), int64(44), object(103)
memory usage: 33.0+ KB
None

In [22]:
print("\nHRM Master Dataset Description:")
print(hrm_master.describe())

HRM Master Dataset Description:
        department  section  project  level8  org_name_en  org_name_zh  \
count    18.000000      0.0      0.0     0.0          0.0          0.0
mean   1094.000000      NaN      NaN     NaN          NaN          NaN
min    1021.000000      NaN      NaN     NaN          NaN          NaN
25%    1096.000000      NaN      NaN     NaN          NaN          NaN
50%    1096.000000      NaN      NaN     NaN          NaN          NaN
75%    1097.000000      NaN      NaN     NaN          NaN          NaN
max    1117.000000      NaN      NaN     NaN          NaN          NaN
std      19.323865      NaN      NaN     NaN          NaN          NaN

       org_name_hk  position_en  position_zh  position_hk  ...  \
count          0.0          0.0          0.0          0.0  ...
mean           NaN          NaN          NaN          NaN  ...
min            NaN          NaN          NaN          NaN  ...
25%            NaN          NaN          NaN          NaN  ...
50%            NaN          NaN          NaN          NaN  ...
75%            NaN          NaN          NaN          NaN  ...
max            NaN          NaN          NaN          NaN  ...
std            NaN          NaN          NaN          NaN  ...

       child0_periodtype child0_entitle         child1_birth  \
count               18.0      18.000000                    1
mean                 0.0       0.277778  2020-03-03 00:00:00
min                  0.0       0.000000  2020-03-03 00:00:00
25%                  0.0       0.000000  2020-03-03 00:00:00
50%                  0.0       0.000000  2020-03-03 00:00:00
75%                  0.0       0.000000  2020-03-03 00:00:00
max                  0.0       5.000000  2020-03-03 00:00:00
std                  0.0       1.178511                  NaN

       child1_periodtype child1_entitle child2_name         child2_birth  \
count               18.0      18.000000         0.0                    1
mean                 0.0       0.277778         NaN  1900-01-02 00:00:00
min                  0.0       0.000000         NaN  1900-01-02 00:00:00
25%                  0.0       0.000000         NaN  1900-01-02 00:00:00
50%                  0.0       0.000000         NaN  1900-01-02 00:00:00
75%                  0.0       0.000000         NaN  1900-01-02 00:00:00
max                  0.0       5.000000         NaN  1900-01-02 00:00:00
std                  0.0       1.178511         NaN                  NaN

      child2_policy  child2_periodtype child2_entitle
count           0.0               18.0           18.0
mean            NaN                0.0            0.0
min             NaN                0.0            0.0
25%             NaN                0.0            0.0
50%             NaN                0.0            0.0
75%             NaN                0.0            0.0
max             NaN                0.0            0.0
std             NaN                0.0            0.0

[8 rows x 131 columns]

In [23]:
print("\nCheck for missing values in HRM Master:")
print(hrm_master.isnull().sum())

Check for missing values in HRM Master:
employee_no           0
employee_name         0
company               0
region                0
sub_company           0
                     ..
child2_name          18
child2_birth         17
child2_policy        18
child2_periodtype     0
child2_entitle        0
Length: 234, dtype: int64